.header {
    text-align: center;
    text-justify: 0 auto;
    color: rgb(54, 41, 41);
    border-style: groove;
    margin-left: 20%;
    margin-right: 20%;
}

.newPost {
    float: left;
    text-justify: 0 auto;
    text-align: center;
    border-style: groove;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#message {
    resize: none;
}

.formSubmitButton {
    margin-bottom: 3%;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    background-color: rgb(30, 152, 197);
}

.loading {
    text-justify: 0 auto;
    text-align: center;
}

.ChannelMessages {
    float: center;
    text-align: center;
    margin-top: 2%;
    margin-left: 25%;
}

.newChannel {
    margin-bottom: 1%;
    text-align: center;
}

.Message {
    border-style: groove;
    border-radius: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}